$surfaceShades: 0, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

@include surface-class('text', 'color', $surfaceShades);
@include surface-class('surface', 'background-color', $surfaceShades);
@include surface-class('border-surface', 'border-color', $surfaceShades);

.text-primary {
    color: var(--primary-color) !important;
}

.hover\:text-primary:hover {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}

.hover\:bg-primary:hover {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

.hover\:border-primary:hover {
    border-color: var(--primary-color) !important;
}

.bg-primary-reverse {
    background-color: var(--primary-color-text) !important;
    color: var(--primary-color) !important;
}

.hover\:bg-primary-reverse:hover {
    background-color: var(--primary-color-text) !important;
    color: var(--primary-color) !important;
}

.surface-ground {
    background-color: var(--surface-ground) !important; 
}

.surface-section {
    background-color: var(--surface-section) !important; 
}

.surface-card {
    background-color: var(--surface-card) !important; 
}

.surface-overlay {
    background-color: var(--surface-overlay) !important; 
}

.surface-border {
    border-color: var(--surface-border) !important; 
}

.surface-hover {
    background-color: var(--surface-hover) !important;
}

.hover\:surface-hover:hover {
    background-color: var(--surface-hover) !important;
}

// primeflex 3.2.0 additinoal colors

.text-color {
  color: var(--text-color) !important;
}

.hover\:text-color:hover {
  color: var(--text-color) !important;
}

.text-color-secondary {
  color: var(--text-color-secondary) !important;
}

.hover\:text-color-secondary:hover {
  color: var(--text-color-secondary) !important;
}
