.pf-grid {
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -1 * $gutter;
    margin-left: -1 * $gutter;
    margin-top: -1 * $gutter;
}

.pf-grid > .pf-col,
.pf-grid > [class*="pf-col"] {
    box-sizing: border-box;
}

.pf-grid-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.pf-grid-nogutter > .pf-col,
.pf-grid-nogutter > [class*="pf-col-"] {
    padding: 0;
}

.pf-col {
    flex-grow: 1;
    flex-basis: 0;
    padding: $gutter;
}

.pf-col-fixed {
    flex: 0 0 auto;
    padding: $gutter;
}

$grid-columns: (
    "pf-col-1": 8.3333%,
    "pf-col-2": 16.6667%,
    "pf-col-3": 25%,
    "pf-col-4": 33.3333%,
    "pf-col-5": 41.6667%,
    "pf-col-6": 50%,
    "pf-col-7": 58.3333%,
    "pf-col-8": 66.6667%,
    "pf-col-9": 75%,
    "pf-col-10": 83.3333%,
    "pf-col-11": 91.6667%,
    "pf-col-12": 100%
);

$grid-column-offsets: (
    "pf-col-offset-0": 0,
    "pf-col-offset-1": 8.3333%,
    "pf-col-offset-2": 16.6667%,
    "pf-col-offset-3": 25%,
    "pf-col-offset-4": 33.3333%,
    "pf-col-offset-5": 41.6667%,
    "pf-col-offset-6": 50%,
    "pf-col-offset-7": 58.3333%,
    "pf-col-offset-8": 66.6667%,
    "pf-col-offset-9": 75%,
    "pf-col-offset-10": 83.3333%,
    "pf-col-offset-11": 91.6667%,
    "pf-col-offset-12": 100%,
);

@each $col,$width in $grid-columns {
    .#{$col} {
        flex: 0 0 auto;
        padding: $gutter;
        width: #{$width};
    }
}

@each $key, $val in $breakpoints {
    @media screen and (min-width: #{$val}) {
        .#{$key + $separator} {
            @each $col,$width in $grid-columns {
                &#{$col} {
                    flex: 0 0 auto;
                    padding: $gutter;
                    width: #{$width};
                }
            }
        }
    }
}

@include style-class('margin-left', $grid-column-offsets, true);

// this fixes the DataView component using a plain grid class overlapping with Tailwind
.p-grid.grid {
    display: flex !important;
}
