.text-0 {
  color: var(--surface-0) !important;
}

.text-50 {
  color: var(--surface-50) !important;
}

.text-100 {
  color: var(--surface-100) !important;
}

.text-200 {
  color: var(--surface-200) !important;
}

.text-300 {
  color: var(--surface-300) !important;
}

.text-400 {
  color: var(--surface-400) !important;
}

.text-500 {
  color: var(--surface-500) !important;
}

.text-600 {
  color: var(--surface-600) !important;
}

.text-700 {
  color: var(--surface-700) !important;
}

.text-800 {
  color: var(--surface-800) !important;
}

.text-900 {
  color: var(--surface-900) !important;
}

.focus\:text-0:focus {
  color: var(--surface-0) !important;
}

.hover\:text-0:hover {
  color: var(--surface-0) !important;
}

.active\:text-0:active {
  color: var(--surface-0) !important;
}

.focus\:text-50:focus {
  color: var(--surface-50) !important;
}

.hover\:text-50:hover {
  color: var(--surface-50) !important;
}

.active\:text-50:active {
  color: var(--surface-50) !important;
}

.focus\:text-100:focus {
  color: var(--surface-100) !important;
}

.hover\:text-100:hover {
  color: var(--surface-100) !important;
}

.active\:text-100:active {
  color: var(--surface-100) !important;
}

.focus\:text-200:focus {
  color: var(--surface-200) !important;
}

.hover\:text-200:hover {
  color: var(--surface-200) !important;
}

.active\:text-200:active {
  color: var(--surface-200) !important;
}

.focus\:text-300:focus {
  color: var(--surface-300) !important;
}

.hover\:text-300:hover {
  color: var(--surface-300) !important;
}

.active\:text-300:active {
  color: var(--surface-300) !important;
}

.focus\:text-400:focus {
  color: var(--surface-400) !important;
}

.hover\:text-400:hover {
  color: var(--surface-400) !important;
}

.active\:text-400:active {
  color: var(--surface-400) !important;
}

.focus\:text-500:focus {
  color: var(--surface-500) !important;
}

.hover\:text-500:hover {
  color: var(--surface-500) !important;
}

.active\:text-500:active {
  color: var(--surface-500) !important;
}

.focus\:text-600:focus {
  color: var(--surface-600) !important;
}

.hover\:text-600:hover {
  color: var(--surface-600) !important;
}

.active\:text-600:active {
  color: var(--surface-600) !important;
}

.focus\:text-700:focus {
  color: var(--surface-700) !important;
}

.hover\:text-700:hover {
  color: var(--surface-700) !important;
}

.active\:text-700:active {
  color: var(--surface-700) !important;
}

.focus\:text-800:focus {
  color: var(--surface-800) !important;
}

.hover\:text-800:hover {
  color: var(--surface-800) !important;
}

.active\:text-800:active {
  color: var(--surface-800) !important;
}

.focus\:text-900:focus {
  color: var(--surface-900) !important;
}

.hover\:text-900:hover {
  color: var(--surface-900) !important;
}

.active\:text-900:active {
  color: var(--surface-900) !important;
}

.surface-0 {
  background-color: var(--surface-0) !important;
}

.surface-50 {
  background-color: var(--surface-50) !important;
}

.surface-100 {
  background-color: var(--surface-100) !important;
}

.surface-200 {
  background-color: var(--surface-200) !important;
}

.surface-300 {
  background-color: var(--surface-300) !important;
}

.surface-400 {
  background-color: var(--surface-400) !important;
}

.surface-500 {
  background-color: var(--surface-500) !important;
}

.surface-600 {
  background-color: var(--surface-600) !important;
}

.surface-700 {
  background-color: var(--surface-700) !important;
}

.surface-800 {
  background-color: var(--surface-800) !important;
}

.surface-900 {
  background-color: var(--surface-900) !important;
}

.focus\:surface-0:focus {
  background-color: var(--surface-0) !important;
}

.hover\:surface-0:hover {
  background-color: var(--surface-0) !important;
}

.active\:surface-0:active {
  background-color: var(--surface-0) !important;
}

.focus\:surface-50:focus {
  background-color: var(--surface-50) !important;
}

.hover\:surface-50:hover {
  background-color: var(--surface-50) !important;
}

.active\:surface-50:active {
  background-color: var(--surface-50) !important;
}

.focus\:surface-100:focus {
  background-color: var(--surface-100) !important;
}

.hover\:surface-100:hover {
  background-color: var(--surface-100) !important;
}

.active\:surface-100:active {
  background-color: var(--surface-100) !important;
}

.focus\:surface-200:focus {
  background-color: var(--surface-200) !important;
}

.hover\:surface-200:hover {
  background-color: var(--surface-200) !important;
}

.active\:surface-200:active {
  background-color: var(--surface-200) !important;
}

.focus\:surface-300:focus {
  background-color: var(--surface-300) !important;
}

.hover\:surface-300:hover {
  background-color: var(--surface-300) !important;
}

.active\:surface-300:active {
  background-color: var(--surface-300) !important;
}

.focus\:surface-400:focus {
  background-color: var(--surface-400) !important;
}

.hover\:surface-400:hover {
  background-color: var(--surface-400) !important;
}

.active\:surface-400:active {
  background-color: var(--surface-400) !important;
}

.focus\:surface-500:focus {
  background-color: var(--surface-500) !important;
}

.hover\:surface-500:hover {
  background-color: var(--surface-500) !important;
}

.active\:surface-500:active {
  background-color: var(--surface-500) !important;
}

.focus\:surface-600:focus {
  background-color: var(--surface-600) !important;
}

.hover\:surface-600:hover {
  background-color: var(--surface-600) !important;
}

.active\:surface-600:active {
  background-color: var(--surface-600) !important;
}

.focus\:surface-700:focus {
  background-color: var(--surface-700) !important;
}

.hover\:surface-700:hover {
  background-color: var(--surface-700) !important;
}

.active\:surface-700:active {
  background-color: var(--surface-700) !important;
}

.focus\:surface-800:focus {
  background-color: var(--surface-800) !important;
}

.hover\:surface-800:hover {
  background-color: var(--surface-800) !important;
}

.active\:surface-800:active {
  background-color: var(--surface-800) !important;
}

.focus\:surface-900:focus {
  background-color: var(--surface-900) !important;
}

.hover\:surface-900:hover {
  background-color: var(--surface-900) !important;
}

.active\:surface-900:active {
  background-color: var(--surface-900) !important;
}

.border-surface-0 {
  border-color: var(--surface-0) !important;
}

.border-surface-50 {
  border-color: var(--surface-50) !important;
}

.border-surface-100 {
  border-color: var(--surface-100) !important;
}

.border-surface-200 {
  border-color: var(--surface-200) !important;
}

.border-surface-300 {
  border-color: var(--surface-300) !important;
}

.border-surface-400 {
  border-color: var(--surface-400) !important;
}

.border-surface-500 {
  border-color: var(--surface-500) !important;
}

.border-surface-600 {
  border-color: var(--surface-600) !important;
}

.border-surface-700 {
  border-color: var(--surface-700) !important;
}

.border-surface-800 {
  border-color: var(--surface-800) !important;
}

.border-surface-900 {
  border-color: var(--surface-900) !important;
}

.focus\:border-surface-0:focus {
  border-color: var(--surface-0) !important;
}

.hover\:border-surface-0:hover {
  border-color: var(--surface-0) !important;
}

.active\:border-surface-0:active {
  border-color: var(--surface-0) !important;
}

.focus\:border-surface-50:focus {
  border-color: var(--surface-50) !important;
}

.hover\:border-surface-50:hover {
  border-color: var(--surface-50) !important;
}

.active\:border-surface-50:active {
  border-color: var(--surface-50) !important;
}

.focus\:border-surface-100:focus {
  border-color: var(--surface-100) !important;
}

.hover\:border-surface-100:hover {
  border-color: var(--surface-100) !important;
}

.active\:border-surface-100:active {
  border-color: var(--surface-100) !important;
}

.focus\:border-surface-200:focus {
  border-color: var(--surface-200) !important;
}

.hover\:border-surface-200:hover {
  border-color: var(--surface-200) !important;
}

.active\:border-surface-200:active {
  border-color: var(--surface-200) !important;
}

.focus\:border-surface-300:focus {
  border-color: var(--surface-300) !important;
}

.hover\:border-surface-300:hover {
  border-color: var(--surface-300) !important;
}

.active\:border-surface-300:active {
  border-color: var(--surface-300) !important;
}

.focus\:border-surface-400:focus {
  border-color: var(--surface-400) !important;
}

.hover\:border-surface-400:hover {
  border-color: var(--surface-400) !important;
}

.active\:border-surface-400:active {
  border-color: var(--surface-400) !important;
}

.focus\:border-surface-500:focus {
  border-color: var(--surface-500) !important;
}

.hover\:border-surface-500:hover {
  border-color: var(--surface-500) !important;
}

.active\:border-surface-500:active {
  border-color: var(--surface-500) !important;
}

.focus\:border-surface-600:focus {
  border-color: var(--surface-600) !important;
}

.hover\:border-surface-600:hover {
  border-color: var(--surface-600) !important;
}

.active\:border-surface-600:active {
  border-color: var(--surface-600) !important;
}

.focus\:border-surface-700:focus {
  border-color: var(--surface-700) !important;
}

.hover\:border-surface-700:hover {
  border-color: var(--surface-700) !important;
}

.active\:border-surface-700:active {
  border-color: var(--surface-700) !important;
}

.focus\:border-surface-800:focus {
  border-color: var(--surface-800) !important;
}

.hover\:border-surface-800:hover {
  border-color: var(--surface-800) !important;
}

.active\:border-surface-800:active {
  border-color: var(--surface-800) !important;
}

.focus\:border-surface-900:focus {
  border-color: var(--surface-900) !important;
}

.hover\:border-surface-900:hover {
  border-color: var(--surface-900) !important;
}

.active\:border-surface-900:active {
  border-color: var(--surface-900) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.hover\:text-primary:hover {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
}

.hover\:bg-primary:hover {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
}

.border-primary {
  border-color: var(--primary-color) !important;
}

.hover\:border-primary:hover {
  border-color: var(--primary-color) !important;
}

.bg-primary-reverse {
  background-color: var(--primary-color-text) !important;
  color: var(--primary-color) !important;
}

.hover\:bg-primary-reverse:hover {
  background-color: var(--primary-color-text) !important;
  color: var(--primary-color) !important;
}

.surface-ground {
    background-color: var(--surface-ground) !important; 
}

.surface-section {
    background-color: var(--surface-section) !important; 
}

.surface-card {
    background-color: var(--surface-card) !important; 
}

.surface-overlay {
    background-color: var(--surface-overlay) !important; 
}

.surface-border {
    border-color: var(--surface-border) !important; 
}

.surface-hover {
    background-color: var(--surface-hover) !important;
}

.hover\:.surface-hover:hover {
    background-color: var(--surface-hover) !important;
}

.pf-grid {
  display: flex !important;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

.pf-grid > .pf-col,
.pf-grid > [class*=pf-col] {
  box-sizing: border-box;
}

.pf-grid-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.pf-grid-nogutter > .pf-col,
.pf-grid-nogutter > [class*=pf-col-] {
  padding: 0;
}

.pf-col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem;
}

.pf-col-fixed {
  flex: 0 0 auto;
  padding: 0.5rem;
}

.pf-col-1 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 8.3333%;
}

.pf-col-2 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 16.6667%;
}

.pf-col-3 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 25%;
}

.pf-col-4 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 33.3333%;
}

.pf-col-5 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 41.6667%;
}

.pf-col-6 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 50%;
}

.pf-col-7 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 58.3333%;
}

.pf-col-8 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 66.6667%;
}

.pf-col-9 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 75%;
}

.pf-col-10 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 83.3333%;
}

.pf-col-11 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 91.6667%;
}

.pf-col-12 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .sm\:pf-col-1 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 8.3333%;
  }
  .sm\:pf-col-2 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 16.6667%;
  }
  .sm\:pf-col-3 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 25%;
  }
  .sm\:pf-col-4 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 33.3333%;
  }
  .sm\:pf-col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 41.6667%;
  }
  .sm\:pf-col-6 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 50%;
  }
  .sm\:pf-col-7 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 58.3333%;
  }
  .sm\:pf-col-8 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 66.6667%;
  }
  .sm\:pf-col-9 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 75%;
  }
  .sm\:pf-col-10 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 83.3333%;
  }
  .sm\:pf-col-11 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 91.6667%;
  }
  .sm\:pf-col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .md\:pf-col-1 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 8.3333%;
  }
  .md\:pf-col-2 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 16.6667%;
  }
  .md\:pf-col-3 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 25%;
  }
  .md\:pf-col-4 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 33.3333%;
  }
  .md\:pf-col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 41.6667%;
  }
  .md\:pf-col-6 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 50%;
  }
  .md\:pf-col-7 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 58.3333%;
  }
  .md\:pf-col-8 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 66.6667%;
  }
  .md\:pf-col-9 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 75%;
  }
  .md\:pf-col-10 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 83.3333%;
  }
  .md\:pf-col-11 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 91.6667%;
  }
  .md\:pf-col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .lg\:pf-col-1 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 8.3333%;
  }
  .lg\:pf-col-2 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 16.6667%;
  }
  .lg\:pf-col-3 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 25%;
  }
  .lg\:pf-col-4 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 33.3333%;
  }
  .lg\:pf-col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 41.6667%;
  }
  .lg\:pf-col-6 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 50%;
  }
  .lg\:pf-col-7 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 58.3333%;
  }
  .lg\:pf-col-8 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 66.6667%;
  }
  .lg\:pf-col-9 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 75%;
  }
  .lg\:pf-col-10 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 83.3333%;
  }
  .lg\:pf-col-11 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 91.6667%;
  }
  .lg\:pf-col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .xl\:pf-col-1 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 8.3333%;
  }
  .xl\:pf-col-2 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 16.6667%;
  }
  .xl\:pf-col-3 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 25%;
  }
  .xl\:pf-col-4 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 33.3333%;
  }
  .xl\:pf-col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 41.6667%;
  }
  .xl\:pf-col-6 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 50%;
  }
  .xl\:pf-col-7 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 58.3333%;
  }
  .xl\:pf-col-8 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 66.6667%;
  }
  .xl\:pf-col-9 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 75%;
  }
  .xl\:pf-col-10 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 83.3333%;
  }
  .xl\:pf-col-11 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 91.6667%;
  }
  .xl\:pf-col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}
.pf-col-offset-0 {
  margin-left: 0 !important;
}

.pf-col-offset-1 {
  margin-left: 8.3333% !important;
}

.pf-col-offset-2 {
  margin-left: 16.6667% !important;
}

.pf-col-offset-3 {
  margin-left: 25% !important;
}

.pf-col-offset-4 {
  margin-left: 33.3333% !important;
}

.pf-col-offset-5 {
  margin-left: 41.6667% !important;
}

.pf-col-offset-6 {
  margin-left: 50% !important;
}

.pf-col-offset-7 {
  margin-left: 58.3333% !important;
}

.pf-col-offset-8 {
  margin-left: 66.6667% !important;
}

.pf-col-offset-9 {
  margin-left: 75% !important;
}

.pf-col-offset-10 {
  margin-left: 83.3333% !important;
}

.pf-col-offset-11 {
  margin-left: 91.6667% !important;
}

.pf-col-offset-12 {
  margin-left: 100% !important;
}

@media screen and (min-width: 576px) {
  .sm\:pf-col-offset-0 {
    margin-left: 0 !important;
  }
  .sm\:pf-col-offset-1 {
    margin-left: 8.3333% !important;
  }
  .sm\:pf-col-offset-2 {
    margin-left: 16.6667% !important;
  }
  .sm\:pf-col-offset-3 {
    margin-left: 25% !important;
  }
  .sm\:pf-col-offset-4 {
    margin-left: 33.3333% !important;
  }
  .sm\:pf-col-offset-5 {
    margin-left: 41.6667% !important;
  }
  .sm\:pf-col-offset-6 {
    margin-left: 50% !important;
  }
  .sm\:pf-col-offset-7 {
    margin-left: 58.3333% !important;
  }
  .sm\:pf-col-offset-8 {
    margin-left: 66.6667% !important;
  }
  .sm\:pf-col-offset-9 {
    margin-left: 75% !important;
  }
  .sm\:pf-col-offset-10 {
    margin-left: 83.3333% !important;
  }
  .sm\:pf-col-offset-11 {
    margin-left: 91.6667% !important;
  }
  .sm\:pf-col-offset-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .md\:pf-col-offset-0 {
    margin-left: 0 !important;
  }
  .md\:pf-col-offset-1 {
    margin-left: 8.3333% !important;
  }
  .md\:pf-col-offset-2 {
    margin-left: 16.6667% !important;
  }
  .md\:pf-col-offset-3 {
    margin-left: 25% !important;
  }
  .md\:pf-col-offset-4 {
    margin-left: 33.3333% !important;
  }
  .md\:pf-col-offset-5 {
    margin-left: 41.6667% !important;
  }
  .md\:pf-col-offset-6 {
    margin-left: 50% !important;
  }
  .md\:pf-col-offset-7 {
    margin-left: 58.3333% !important;
  }
  .md\:pf-col-offset-8 {
    margin-left: 66.6667% !important;
  }
  .md\:pf-col-offset-9 {
    margin-left: 75% !important;
  }
  .md\:pf-col-offset-10 {
    margin-left: 83.3333% !important;
  }
  .md\:pf-col-offset-11 {
    margin-left: 91.6667% !important;
  }
  .md\:pf-col-offset-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .lg\:pf-col-offset-0 {
    margin-left: 0 !important;
  }
  .lg\:pf-col-offset-1 {
    margin-left: 8.3333% !important;
  }
  .lg\:pf-col-offset-2 {
    margin-left: 16.6667% !important;
  }
  .lg\:pf-col-offset-3 {
    margin-left: 25% !important;
  }
  .lg\:pf-col-offset-4 {
    margin-left: 33.3333% !important;
  }
  .lg\:pf-col-offset-5 {
    margin-left: 41.6667% !important;
  }
  .lg\:pf-col-offset-6 {
    margin-left: 50% !important;
  }
  .lg\:pf-col-offset-7 {
    margin-left: 58.3333% !important;
  }
  .lg\:pf-col-offset-8 {
    margin-left: 66.6667% !important;
  }
  .lg\:pf-col-offset-9 {
    margin-left: 75% !important;
  }
  .lg\:pf-col-offset-10 {
    margin-left: 83.3333% !important;
  }
  .lg\:pf-col-offset-11 {
    margin-left: 91.6667% !important;
  }
  .lg\:pf-col-offset-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 1200px) {
  .xl\:pf-col-offset-0 {
    margin-left: 0 !important;
  }
  .xl\:pf-col-offset-1 {
    margin-left: 8.3333% !important;
  }
  .xl\:pf-col-offset-2 {
    margin-left: 16.6667% !important;
  }
  .xl\:pf-col-offset-3 {
    margin-left: 25% !important;
  }
  .xl\:pf-col-offset-4 {
    margin-left: 33.3333% !important;
  }
  .xl\:pf-col-offset-5 {
    margin-left: 41.6667% !important;
  }
  .xl\:pf-col-offset-6 {
    margin-left: 50% !important;
  }
  .xl\:pf-col-offset-7 {
    margin-left: 58.3333% !important;
  }
  .xl\:pf-col-offset-8 {
    margin-left: 66.6667% !important;
  }
  .xl\:pf-col-offset-9 {
    margin-left: 75% !important;
  }
  .xl\:pf-col-offset-10 {
    margin-left: 83.3333% !important;
  }
  .xl\:pf-col-offset-11 {
    margin-left: 91.6667% !important;
  }
  .xl\:pf-col-offset-12 {
    margin-left: 100% !important;
  }
}
.p-grid.grid {
  display: flex !important;
}

.field {
  margin-bottom: 1rem;
}

.field > label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.field.pf-grid > label {
  display: flex;
  align-items: center;
}

.field > small {
  margin-top: 0.25rem;
}

.field.pf-grid,
.formgrid.pf-grid {
  margin-top: 0;
}

.field.pf-grid .pf-col-fixed,
.formgrid.pf-grid .pf-col-fixed,
.field.pf-grid .pf-col,
.formgrid.pf-grid .pf-col,
.field.pf-grid .pf-col-1,
.formgrid.pf-grid .pf-col-1,
.field.pf-grid .pf-col-2,
.formgrid.pf-grid .pf-col-2,
.field.pf-grid .pf-col-3,
.formgrid.pf-grid .pf-col-3,
.field.pf-grid .pf-col-4,
.formgrid.pf-grid .pf-col-4,
.field.pf-grid .pf-col-5,
.formgrid.pf-grid .pf-col-5,
.field.pf-grid .pf-col-6,
.formgrid.pf-grid .pf-col-6,
.field.pf-grid .pf-col-7,
.formgrid.pf-grid .pf-col-7,
.field.pf-grid .pf-col-8,
.formgrid.pf-grid .pf-col-8,
.field.pf-grid .pf-col-9,
.formgrid.pf-grid .pf-col-9,
.field.pf-grid .pf-col-10,
.formgrid.pf-grid .pf-col-10,
.field.pf-grid .pf-col-11,
.formgrid.pf-grid .pf-col-11,
.field.pf-grid .pf-col-12,
.formgrid.pf-grid .pf-col-12 {
  padding-top: 0;
  padding-bottom: 0;
}

.formgroup-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.formgroup-inline .field,
.formgroup-inline .field-checkbox,
.formgroup-inline .field-radiobutton {
  margin-right: 1rem;
}

.formgroup-inline .field > label,
.formgroup-inline .field-checkbox > label,
.formgroup-inline .field-radiobutton > label {
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.field-checkbox,
.field-radiobutton {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.field-checkbox > label,
.field-radiobutton > label {
  margin-left: 0.5rem;
  line-height: 1;
}

/*# sourceMappingURL=primeflex-tailwind.css.map */
